Repository Waschtl904/song-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

🔧 Fix Stylelint naming conventions (kebab-case for keyframes & remove ID selectors)
  frontend/css/player.css
Due: stylelint --fix

🔧 Fix remaining Stylelint issues: kebab-case keyframes + allow legacy #heroBackground
  .stylelintrc.json
Due: none

🔧 Fix keyframe naming: fadeIn → fade-in (kebab-case)
  frontend/css/styles-cyberpunk.css
Due: stylelint --fix

🔧 Add npm test script for Husky pre-commit hook
  package.json
Due: none

🔧 Fix lint-staged config - remove eslint (not installed)
  .lintstagedrc.json
Due: none

docs: add master prompt 2026 for development reference
  MASTER-PROMPT-2026-AKTUELL.md
Due: none

feat: add CSRF protection middleware for design system API
  backend/middleware/csrf-middleware.js
Due: eslint --fix

security: add CSRF protection and designer permission check to design-system API
  backend/server.js
Due: eslint --fix

fix: correct route ordering - design-system endpoints before track routes
  backend/server.js
Due: eslint --fix

fix: add API proxy to backend for design-system and other endpoints
  frontend/server.js
Due: eslint --fix

fix: use relative API path /api/design-system instead of absolute localhost URL for proxy support
  frontend/index.html
Due: none

fix: add cors and helmet to dependencies for frontend proxy
  frontend/package.json
Due: none

fix: properly generate and inject CSS variables from API design-system data
  frontend/index.html
Due: none

fix: restore full index.html - fix broken version from commit 7603ee1
  frontend/index.html
Due: none

feat: update metal-play-button-optimized.webp with proper button image
  frontend/assets/images/metal-play-button-optimized.webp
Due: none

fix: use working metal-play-button image
  frontend/assets/images/metal-play-button-optimized.webp
Due: none

feat: Create cyberpunk admin console with JWT login and tool access
  frontend/admin/index.html
Due: none

docs: Update README with new Admin Hub and project structure
  README.md
Due: none

docs: Create comprehensive Admin Hub guide with login methods and tool documentation
  docs/ADMIN-GUIDE.md
Due: none

docs: Create detailed project structure documentation with file organization
  docs/PROJECT-STRUCTURE.md
Due: none

docs: Fix actual project structure - correct root-level files location
  docs/PROJECT-STRUCTURE.md
Due: none

docs: Fix README documentation paths - master files are in ROOT, not docs/
  README.md
Due: none

docs: Fix actual admin folder structure - admin-upload.html is in frontend root, not admin/
  docs/PROJECT-STRUCTURE.md
Due: none

docs: Add comprehensive Windows 11 Pro development setup guide
  docs/SETUP-WINDOWS.md
Due: none

docs: Add local development setup info with Windows paths and SETUP-WINDOWS reference
  README.md
Due: none

docs: Add comprehensive documentation audit report with improvements
  docs/DOCUMENTATION-AUDIT-2026-01-13.md
Due: none

docs: comprehensive README update with Windows 11 setup emphasis and documentation clarifications
  README.md
Due: none

docs: fix admin-upload.html path and documentation clarity
  docs/ADMIN-GUIDE.md
Due: none

docs: update PROJECT-STRUCTURE.md with schema.sql path and documentation organization clarifications
  docs/PROJECT-STRUCTURE.md
Due: none

docs: update DATABASE.md with clarification that schema.sql is in ROOT and date update
  DATABASE.md
Due: none

fix(security): add requireAdmin check to PUT /api/design-system endpoint
  backend/server.js
Due: eslint --fix

refactor: mark design-system.js as deprecated - routes moved to server.js
  backend/routes/design-system.js
Due: eslint --fix

docs: add rate limiter DoS protection fix guide with backup instructions
  FIXES/fix-rate-limiter-dos-protection.md
Due: none

fix(security): update qs dependency via npm audit fix
  backend/node_modules/.package-lock.json
  backend/node_modules/qs/.eslintrc
  backend/node_modules/qs/CHANGELOG.md
  backend/node_modules/qs/dist/qs.js
  backend/node_modules/qs/lib/parse.js
  backend/node_modules/qs/lib/utils.js
  backend/node_modules/qs/package.json
  backend/node_modules/qs/test/parse.js
  backend/node_modules/qs/test/stringify.js
  backend/node_modules/qs/test/utils.js
  backend/package-lock.json
Due: eslint --fix

fix: update production deployment guide paths, references and env vars
  PRODUCTION-DEPLOYMENT.md
Due: none

fix: Update documentation date and complete API endpoint list (1. Feb 2026)
  MASTER-PROMPT-2026-AKTUELL.md
Due: none

fix(routing): remove double track registration, use app.use with cacheMiddleware
  backend/server.js
Due: eslint --fix

fix(cache): improve caching logic - cache all GET responses registered with middleware
  backend/middleware/cache-middleware.js
Due: eslint --fix

fix(cors): harmonize CORS headers in audio streaming - read from FRONTEND_URL env var
  backend/routes/tracks.js
Due: eslint --fix

fix(security): disable bcrypt plaintext fallback in production - add NODE_ENV check
  backend/routes/auth.js
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
